{# banner and breadcrumb #}
<section class="banner-wrapper-section row">
  <div class="banner-wrapper rltv">
    <img class="img-responsive"  src="/{{ directory }}/assets/images/campaign/banner.jpg" alt="banner" />
    <div class="container banner-text-container">
      <h1 class="page-title">Campaigns</h1>
      <div class="breadcrumb-wrapper">
        <ul class="list-inline">
          <li><a href="#">Home</a></li>
          <li><a href="#">Campaigns</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
{# Intro #}
<section class="intro-wrapper light-background light-border-bottom row">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-push-1">
        <div class="row">
          <div class="intro-social text-center">
            <ul class="list-inline">
              <li>
                <a class="addthis_button_facebook" data-toggle="tooltip" data-placement="bottom" title="Facebook">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </li>

              <li>
                <a class="addthis_button_twitter" data-toggle="tooltip" data-placement="bottom" title="Twitter">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>

              <li>
                <a class="addthis_button_linkedin" data-toggle="tooltip" data-placement="bottom" title="Linkedin">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
          <p class="universal-section-desc text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lacinia neque non justo convallis gravida. Etiam vitae tellus volutpat, tristique libero a, porttitor erat. Vivamus convallis, tellus eget commodo malesuada, erat est suscipit neque, quis pellentesque orci leo ut dolor. Proin venenatis non eros ut fringilla. Sed congue elementum semper. Quisque rutrum varius diam.</p>
        </div>
      </div>
    </div>
  </div>
</section>


{#Campaigns section#}
<section class="home-page-network home-page-campaign row">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-push-1">
        <div class="row">
          <h2 class="section-title text-center">Ceres Campaigns</h2>
          <div class="networks-list flex-display flex-wrap">
            <div class="col-xs-12 col-sm-4 flex-display">
              <a class="network-wrapper text-center"  href="#">
                <img src="/{{ directory }}/assets/images/campaign/3.jpg" alt="campaign" class="img-responsive">
                <h3 class="network-title">Clean Trillion</h3>
              </a>
            </div>
            <div class="col-xs-12 col-sm-4 flex-display">
              <a class="network-wrapper text-center"  href="#">
                <img src="/{{ directory }}/assets/images/campaign/2.jpg" alt="campaign" class="img-responsive">
                <h3 class="network-title">Connect the Drops</h3>
              </a>
            </div>
            <div class="col-xs-12 col-sm-4 flex-display">
              <a class="network-wrapper text-center"  href="#">
                <img src="/{{ directory }}/assets/images/campaign/1.jpg" alt="campaign" class="img-responsive">
                <h3 class="network-title">Disclosure</h3>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{#Sign-up section#}
<div class="row">
  <section class="home-page-signup">
    <img src="/{{ directory }}/assets/images/signup/sign-up.jpg" alt="sign-up" class="img-responsive">
    <div class="container z-index-2 rltv">
      <div class="row">
        <div class="col-lg-10 col-lg-push-1">
          <div class="row">
            <h2 class="section-title text-center">Email Signup</h2>
            <p class="section-desc text-center">Nam suscipit massa condimentum leo aliquet lacinia. Maecenas id felis eget magna placerat dictum non sit amet quam.  Pellentesque habitant morbi tristique senectus.</p>
            <div class="read-more-wrapper text-center">
              <form class="email-signup sign-up-form form-inline" action="/" method="post" accept-charset="UTF-8">
                <div class="form-fields-slide-container form-wrapper">
                  <div>
                    <div class="form-group">
                      <input placeholder="Last Name" class="required form-control" type="text" name="last_name" value="" size="60" maxlength="150" required="required" aria-required="true">
                    </div>
                  </div>
                  <div>
                    <div class="form-group">
                      <input placeholder="Email" class="required form-control" type="email" name="email" value="" size="60" maxlength="254" required="required" aria-required="true">
                    </div>
                  </div>
                </div>
                <button class="read-more-btn sign-slide-action subscribr-btn text-uppercase" type="submit" name="op" value="Subscribe">Subscribe</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>