{#
 # Homepage Template
 #}
{#Collage section#}
<h1 class="sr-only">Ceres - Mobilizing Business Leadership for a Sustainable World — Ceres</h1>
<section class="home-page-collage flex-display row">
  <div class="col-xs-12 col-sm-8 no-pad-left left-collage-wrapper">
    <a href="#" class="collage-link large-link">
      <img src="/{{ directory }}/assets/images/collage/image1.jpg" alt="image1" class="img-responsive">
      <p>Lorem Ipsum Dolor Sit Amet Consectetur Adipiscing Elit</p>
    </a>
  </div>
  <div class="col-xs-12 col-sm-4 flex-display right-collage-wrapper">
    <a href="#" class="collage-link">
      <img src="/{{ directory }}/assets/images/collage/image2.jpg" alt="image2" class="img-responsive">
      <p>Etiam Turpis Enim Porta id Facilisis Eu Mollis at Nibh</p>
    </a>
    <a href="#" class="collage-link">
      <img src="/{{ directory }}/assets/images/collage/image3.jpg" alt="image3" class="img-responsive">
      <p>Etiam Turpis Enim Porta id Facilisis Eu Mollis at Nibh</p>
    </a>
  </div>
</section>
{#Mission section#}
<section class="home-page-mission row">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-push-1">
        <div class="row">
          <h2 class="section-title text-center">Our Mission</h2>
          <p class="section-desc text-center">Nam suscipit massa condimentum leo aliquet lacinia. Maecenas id felis eget magna placerat dictum non sit amet quam.</p>
          <div class="mission-testomony flex-display">
            <div class="col-md-7 mission-testomony-video-wrapper">
              <div class="row full-height">
                <a href="#" class="mission-testomony-video full-height">
                  <img src="/{{ directory }}/assets/images/mission/video.jpg" alt="video" class="img-responsive">
                  <p class="text-uppercase"><i class="fa fa-play-circle" aria-hidden="true"></i> Watch bill’s testimonial</p>
                </a>
              </div>
            </div>
            <div class="col-md-5 no-pad-right flex-display">
              <div class="mission-testomony-quote-wrapper">
                <p class="mission-testomony-quote">“Nam suscipit massa condiment um leo aliquet lacinia. Maecenas id felis eget magna placerat dictum non sit amet quam. Pellentesque habitant morbi tristique senectus.”</p>
                <div class="mission-testomony-quote-signature flex-display">
                  <a href="#" class="quote-signature-image"><img src="/{{ directory }}/assets/images/mission/jackie.png" alt="jackie" class="img-responsive"></a>
                  <a href="#">
                    <span class="quote-signature-name">Jackie Miller</span>
                    <span class="quote-signature-org">Organization Name</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{#News section#}
<section class="home-page-news row">
  <div class="container">
    <div class="row">
      <h2 class="section-title text-center">News</h2>
      <div class="news-list flex-display">
        <div class="col-xs-12 col-sm-4 flex-display" >
          <a class="news-wrapper" href="#">
            <div class="news-img-wrapper">
              <img src="/{{ directory }}/assets/images/news/news.jpg" alt="news" class="img-responsive">
            </div>
            <div class="news-content text-center">
              <p class="news-date">December 2, 2016</p>
              <h3 class="news-title">Investors Update Guidance to Strengthen Engagement on Climate Risk with Oil and Gas Companies</h3>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-4 flex-display" >
          <a class="news-wrapper" href="#">
            <div class="news-img-wrapper">
              <img src="/{{ directory }}/assets/images/news/news.jpg" alt="news" class="img-responsive">
            </div>
            <div class="news-content text-center">
              <p class="news-date">December 2, 2016</p>
              <h3 class="news-title">Investors Update Guidance to Strengthen Engagement on Climate Risk with Oil and Gas Companies</h3>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-4 flex-display" >
          <a class="news-wrapper" href="#">
            <div class="news-img-wrapper">
              <img src="/{{ directory }}/assets/images/news/news.jpg" alt="news" class="img-responsive">
            </div>
            <div class="news-content text-center">
              <p class="news-date">December 2, 2016</p>
              <h3 class="news-title">Investors Update Guidance to Strengthen Engagement on Climate Risk with Oil and Gas Companies</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="read-more-wrapper text-center">
        <a href="#" class="read-more-btn text-uppercase white-back">More News</a>
      </div>
    </div>
  </div>
</section>

{#Experts section#}
<section class="home-page-experts row">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-push-1">
        <div class="row">
          <h2 class="section-title text-center">Experts</h2>
          <div class="experts-list clearfix">
            <div class="flexslider carousel experts-carousel" data-animation="slide" data-animation-speed="400" data-slideshow="false" 
                 data-move="1" data-max-items="4 4 2 1" data-animation-loop="false" data-item-width="210" data-item-margin="10" data-control-nav="false">
              <ul class="slides">
                <li>
                  <div class="text-center expert-container">
                    <a class="container-link" href="##"></a>
                    <a class="expert-image-wrapper" href="#">
                      <div class="expert-image-circle-container">
                        <img src="/{{ directory }}/assets/images/expert/expert.png" alt="news" class="img-responsive img-circle">
                      </div>
                    </a>
                    <div class="expert-content">
                      <h3><a class="expert-name" href="#">Jackie Miller</a></h3>
                      <p class="expert-org">Organization Name</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="text-center expert-container">
                    <a class="expert-image-wrapper" href="#">
                      <div class="expert-image-circle-container">
                        <img src="/{{ directory }}/assets/images/expert/expert.png" alt="news" class="img-responsive img-circle">
                      </div>
                    </a>
                    <div class="expert-content">
                      <h3><a class="expert-name" href="#">Jackie Miller</a></h3>
                      <p class="expert-org">Organization Name</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="text-center expert-container">
                    <a class="expert-image-wrapper" href="#">
                      <div class="expert-image-circle-container">
                        <img src="/{{ directory }}/assets/images/expert/expert.png" alt="news" class="img-responsive img-circle">
                      </div>
                    </a>
                    <div class="expert-content">
                      <h3><a class="expert-name" href="#">Jackie Miller</a></h3>
                      <p class="expert-org">Organization Name</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="text-center expert-container">
                    <a class="expert-image-wrapper" href="#">
                      <div class="expert-image-circle-container">
                        <img src="/{{ directory }}/assets/images/expert/expert.png" alt="news" class="img-responsive img-circle">
                      </div>
                    </a>
                    <div class="expert-content">
                      <h3><a class="expert-name" href="#">Jackie Miller</a></h3>
                      <p class="expert-org">Organization Name</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="text-center expert-container">
                    <a class="expert-image-wrapper" href="#">
                      <div class="expert-image-circle-container">
                        <img src="/{{ directory }}/assets/images/expert/expert.png" alt="news" class="img-responsive img-circle">
                      </div>
                    </a>
                    <div class="expert-content">
                      <h3><a class="expert-name" href="#">Jackie Miller</a></h3>
                      <p class="expert-org">Organization Name</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="text-center expert-container">
                    <a class="expert-image-wrapper" href="#">
                      <div class="expert-image-circle-container">
                        <img src="/{{ directory }}/assets/images/expert/expert.png" alt="news" class="img-responsive img-circle">
                      </div>
                    </a>
                    <div class="expert-content">
                      <h3><a class="expert-name" href="#">Jackie Miller</a></h3>
                      <p class="expert-org">Organization Name</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="read-more-wrapper text-center">
            <a href="#" class="read-more-btn text-uppercase ">More Experts</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{#Network section#}
<section class="home-page-network row">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-push-1">
        <div class="row">
          <h2 class="section-title text-center">Networks</h2>
          <p class="section-desc text-center">Nam suscipit massa condimentum leo aliquet lacinia. Maecenas id felis eget magna placerat dictum non sit amet quam.  Pellentesque habitant morbi tristique senectus.</p>
          <div class="networks-list flex-display">
            <div class="col-xs-12 col-sm-4 flex-display">
              <a class="network-wrapper text-center"  href="#">
                <img src="/{{ directory }}/assets/images/network/network.jpg" alt="Network" class="img-responsive">
                <h3 class="network-title">Ceres Investor Network</h3>
              </a>
            </div>
            <div class="col-xs-12 col-sm-4 flex-display">
              <a class="network-wrapper text-center"  href="#">
                <img src="/{{ directory }}/assets/images/network/network.jpg" alt="Network" class="img-responsive">
                <h3 class="network-title">Ceres Investor Network</h3>
              </a>
            </div>
            <div class="col-xs-12 col-sm-4 flex-display">
              <a class="network-wrapper text-center"  href="#">
                <img src="/{{ directory }}/assets/images/network/network.jpg" alt="Network" class="img-responsive">
                <h3 class="network-title">Ceres Investor Network</h3>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{#Campaigns section#}
<section class="home-page-network home-page-campaign row">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-push-1">
        <div class="row">
          <h2 class="section-title text-center">Campaigns</h2>
          <p class="section-desc text-center">Nam suscipit massa condimentum leo aliquet lacinia. Maecenas id felis eget magna placerat dictum non sit amet quam.  Pellentesque habitant morbi tristique senectus.</p>
          <div class="networks-list flex-display">
            <div class="col-xs-12 col-sm-4 flex-display">
              <a class="network-wrapper text-center"  href="#">
                <img src="/{{ directory }}/assets/images/campaign/campaign.jpg" alt="campaign" class="img-responsive">
                <h3 class="network-title">Clean Trillion</h3>
              </a>
            </div>
            <div class="col-xs-12 col-sm-4 flex-display">
              <a class="network-wrapper text-center"  href="#">
                <img src="/{{ directory }}/assets/images/campaign/campaign.jpg" alt="campaign" class="img-responsive">
                <h3 class="network-title">Clean Trillion</h3>
              </a>
            </div>
            <div class="col-xs-12 col-sm-4 flex-display">
              <a class="network-wrapper text-center"  href="#">
                <img src="/{{ directory }}/assets/images/campaign/campaign.jpg" alt="campaign" class="img-responsive">
                <h3 class="network-title">Clean Trillion</h3>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{#Events section#}
<section class="home-page-events row">
  <div class="container">
    <div class="row flex-display events-awards-wrapper">
      <div class="col-sm-12 col-md-8 events-section">
        <h2 class="section-title text-center">Events</h2>
        <div class="row">
          <div class="col-sm-6 event-container flex-display">
            <a class="event-date-container flex-display text-center" href="#">
              <span>JAN</span>
              <span class="number">28</span>
            </a>
            <div class="event-data-container ">
              <h3><a href="#" class="event-title">Lorem Ipsum Dolor Sit</a></h3>
              <p class="event-desc">Donec ipsum lacus, VVhendrerit nec augue ac, congue vestibulum ex.</p>
            </div>
          </div>
          <div class="col-sm-6 event-container flex-display">
            <a class="event-date-container flex-display text-center" href="#">
              <span>JAN</span>
              <span class="number">28</span>
            </a>
            <div class="event-data-container ">
              <h3><a href="#" class="event-title">Lorem Ipsum Dolor Sit</a></h3>
              <p class="event-desc">Donec ipsum lacus, VVhendrerit nec augue ac, congue vestibulum ex.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 awards-section">
        <h2 class="section-title text-center">Awards</h2>
        <div class="row text-center">
          <a class="award-image-wrapper text-center"  href="#">
            <img src="/{{ directory }}/assets/images/awards/award.jpg" alt="award" class="img-responsive">
          </a>
          <div class="read-more-wrapper text-center">
            <a href="#" class="read-more-link">More Awards</a>
          </div>
        </div>
      </div>
    </div>
</section>
{#Sign-up section#}
<div class="row">
  <section class="home-page-signup">
    <img src="/{{ directory }}/assets/images/signup/sign-up.jpg" alt="sign-up" class="img-responsive">
    <div class="container z-index-2 rltv">
      <div class="row">
        <div class="col-lg-10 col-lg-push-1">
          <div class="row">
            <h2 class="section-title text-center">Email Signup</h2>
            <p class="section-desc text-center">Nam suscipit massa condimentum leo aliquet lacinia. Maecenas id felis eget magna placerat dictum non sit amet quam.  Pellentesque habitant morbi tristique senectus.</p>
            <div class="read-more-wrapper text-center">
              <form class="email-signup sign-up-form form-inline" action="/" method="post" accept-charset="UTF-8">
                <div class="form-fields-slide-container form-wrapper">
                  <div>
                    <div class="form-group">
                      <input placeholder="Last Name" class="required form-control" type="text" name="last_name" value="" size="60" maxlength="150" required="required" aria-required="true">
                    </div>
                  </div>
                  <div>
                    <div class="form-group">
                      <input placeholder="Email" class="required form-control" type="email" name="email" value="" size="60" maxlength="254" required="required" aria-required="true">
                    </div>
                  </div>
                </div>
                <button class="read-more-btn sign-slide-action subscribr-btn text-uppercase" type="submit" name="op" value="Subscribe">Subscribe</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>