{# banner and breadcrumb #}
<section class="banner-wrapper-section row">
  <div class="banner-wrapper staff-banner rltv">
    <img class="img-responsive"  src="/{{ directory }}/assets/images/staff/banner.jpg" alt="banner" />
    <div class="container banner-text-container">
      <h1 class="page-title">Mindy S. Luber JD<span class='subtitle'>President</span></h1>
      <div class="staff-details">
        <div class="expert-image-wrapper">
          <div class="expert-image-circle-container">
            <img src="/{{ directory }}/assets/images/expert/expert.png" alt="news" class="img-responsive img-circle">
          </div>
        </div>
        <a class="staff-facebook" href="#">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <span class="clear">mindyluber</span>
        </a>
        <a class="staff-email" href="mailto:mindy.luber@ceres.org">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <span class="clear">mindy.luber@ceres.org</span>
        </a>
      </div>
      <div class="breadcrumb-wrapper">
        <ul class="list-inline">
          <li><a href="#">Home</a></li>
          <li><span>Staff</span></li>
        </ul>
      </div>
    </div>
  </div>
</section>

{# Body #}
<section class="body-issue-wrapper no-back-border row">
  <div class="container">
    <div class="row">

      <div class="col-lg-5 col-md-7 col-sm-8 content-text">
        <div class="row">
          <p>Integer luctus bibendum lorem, non sodales nisi ornare at. Suspendisse bibendum fringilla odio in mattis. Integer vel justo aliquam, sollicitudin ligula quis, sodales arcu. Vestibulum semper, elit et efficitur elementum, enim massa facilisis tortor, non accumsan odio augue sed erat. Fusce a hendrerit magna. </p>
          <p>Pellentesque interdum lacus at lacus ornare volutpat. Quisque nec nisl vel libero pellentesque porta. Nulla pulvinar aliquet metus, in auctor dolor lobortis non. Ut ornare congue metus nec hendrerit. Praesent lacus felis vestibulum sit amet rhoncus at, hendrerit quis arcu. In ut tellus sed lectus malesuada. Sagittis. Fusce molestie a nunc a volutpat. Proin condimentum condimentum augue ac tempus. Ut augue nisl, fringilla vel ultrices ut, malesuada quis turpis.</p>

          <p>Integer luctus bibendum lorem, non sodales nisi ornare at. Suspendisse bibendum fringilla odio in mattis. Integer vel justo aliquam, sollicitudin ligula quis, sodales arcu. Vestibulum semper, elit et efficitur elementum, enim massa facilisis tortor, non accumsan odio augue sed erat. Fusce a hendrerit magna. </p>
          <p>Pellentesque interdum lacus at lacus ornare volutpat. Quisque nec nisl vel libero pellentesque porta. Nulla pulvinar aliquet metus, in auctor dolor lobortis non. Ut ornare congue metus nec hendrerit. Praesent lacus felis vestibulum sit amet rhoncus at, hendrerit quis arcu. In ut tellus sed lectus malesuada. Sagittis. Fusce molestie a nunc a volutpat. Proin condimentum condimentum augue ac tempus. Ut augue nisl, fringilla vel ultrices ut, malesuada quis turpis.</p>
        </div>
      </div>
    </div>
  </div>
</section>

{#Latest Posts section#}
<section class="home-page-news row">
  <div class="container">
    <div class="row">
      <h2 class="section-title text-center">Recent blog posts</h2>
      <div class="news-list flex-display">
        <div class="col-xs-12 col-sm-4 flex-display news-item" >
          <a class="news-wrapper" href="#">
            <div class="news-img-wrapper">
              <img src="/{{ directory }}/assets/images/news/news.jpg" alt="news" class="img-responsive">
            </div>
            <div class="news-content text-center">
              <p class="news-date">December 2, 2016</p>
              <h3 class="news-title">Investors Update Guidance to Strengthen Engagement on Climate Risk with Oil and Gas Companies</h3>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-4 flex-display news-item" >
          <a class="news-wrapper" href="#">
            <div class="news-img-wrapper">
              <img src="/{{ directory }}/assets/images/news/news.jpg" alt="news" class="img-responsive">
            </div>
            <div class="news-content text-center">
              <p class="news-date">December 2, 2016</p>
              <h3 class="news-title">Investors Update Guidance to Strengthen Engagement on Climate Risk with Oil and Gas Companies</h3>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-4 flex-display news-item" >
          <a class="news-wrapper" href="#">
            <div class="news-img-wrapper">
              <img src="/{{ directory }}/assets/images/news/news.jpg" alt="news" class="img-responsive">
            </div>
            <div class="news-content text-center">
              <p class="news-date">December 2, 2016</p>
              <h3 class="news-title">Investors Update Guidance to Strengthen Engagement on Climate Risk with Oil and Gas Companies</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="read-more-wrapper text-center">
        <a href="#" class="read-more-btn text-uppercase white-back">
          More Posts
        </a>
      </div>
    </div>
  </div>
</section>
{#Sign-up section#}
<div class="row">
  <section class="home-page-signup">
    <img src="/{{ directory }}/assets/images/signup/sign-up.jpg" alt="sign-up" class="img-responsive">
    <div class="container z-index-2 rltv">
      <div class="row">
        <div class="col-lg-10 col-lg-push-1">
          <div class="row">
            <h2 class="section-title text-center">Email Signup</h2>
            <p class="section-desc text-center">Nam suscipit massa condimentum leo aliquet lacinia. Maecenas id felis eget magna placerat dictum non sit amet quam.  Pellentesque habitant morbi tristique senectus.</p>
            <div class="read-more-wrapper text-center">
              <form class="email-signup sign-up-form form-inline" action="/" method="post" accept-charset="UTF-8">
                <div class="form-fields-slide-container form-wrapper">
                  <div>
                    <div class="form-group">
                      <input placeholder="Last Name" class="required form-control" type="text" name="last_name" value="" size="60" maxlength="150" required="required" aria-required="true">
                    </div>
                  </div>
                  <div>
                    <div class="form-group">
                      <input placeholder="Email" class="required form-control" type="email" name="email" value="" size="60" maxlength="254" required="required" aria-required="true">
                    </div>
                  </div>
                </div>
                <button class="read-more-btn sign-slide-action subscribr-btn text-uppercase" type="submit" name="op" value="Subscribe">Subscribe</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
