{% if node.body.value %}
  <section class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-push-1">
        <div class="universal-section-desc text-center">{{ content.body }}</div>
      </div>
    </div>
  </section>
{% endif %}

{% if node.field_program_description.value %}
  {{ content.field_program_description }}
{% endif %}

{% if node.field_testimonials.value %}
  {% set quoteTestimonialCount = content.field_testimonials['#items']|length %}
  <section class="network-qoute flex-display row">
    {% if quoteTestimonialCount >= 2 %}
      {% for i in 0..1 %}
        <div class="quote-item col-xs-12 col-sm-6 rltv">
          {{ content.field_testimonials[i] }}
        </div>
      {% endfor %}
    {% else %}
      <div class="quote-item col-xs-12 col-sm-6 rltv">
        {{ content.field_testimonials.0 }}
      </div>
    {% endif %}
  </section>
{% endif %}

{% if node.field_program_related_network.value %}
  <section class="home-page-network row">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-push-1">
          <div class="row">
            <h2 class="section-title text-center">Membership Opportunities</h2>
            {{ content.field_program_related_network }}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% if resources_section %}
  <section class="home-page-news row">
    <div class="container">
      <div class="row">
        <h2 class="section-title text-center">Resources</h2>
        {{ resources_section }}
      </div>
    </div>
  </section>
{% endif %}

<section class="home-page-network home-page-campaign row">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-push-1">
        <div class="row">
          <h2 class="section-title text-center">Other Ceres Programs</h2>
          {{ other_programs | render }}
        </div>
      </div>
    </div>
  </div>
</section>