<a class="news-wrapper" href="{{ url }}">
  <div class="news-img-wrapper">
    {% if node.field_resource_image.value %}
      {{ content.field_content_image }}
    {% else %}
      <img src="/{{ directory }}/assets/images/news/waterfall.jpg" alt="news" class="img-responsive">
    {% endif %}
  </div>
  <div class="news-content text-center">
    <p class="news-date">{{ node.getCreatedTime() | date("F j, Y") }}</p>
    <h3 class="news-title">{{ node.getTitle() }}</h3>
  </div>
</a>